<%- include("template/header.ejs") %>
    <div style=" height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; color: aliceblue;">
        <h1>Error</h1>
        <h2>Username is taken</h2>
        <h2><a href="/signup" style="color: aqua; text-decoration: underline;">Try again</a></h2>
    </div>
<%- include("template/footer.ejs")%>
