<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script src="https://kit.fontawesome.com/644c40b59f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <h2 class="navbar-brand"><a href="/">The Blog</a></h3>
        <div class="navbar-paths">
            <a class="navbar-items" href="/users" >Profile</a>
            <a class="navbar-items" href="/security">Compose</a>
            <a class="navbar-items" href="/all">All</a>
            <form action="/logout" method="post" style="margin-left: 10px;">
                <button type="submit" class="logout-button">
                    <i class="fa-solid fa-power-off"></i>
                </button>
            </form>
        </div>
    </div>

    <video autoplay muted loop id="myVideo">
        <source src="/css/images/v.mp4" name="theVideo">
    </video>
    